export NIXPKGS_ALLOW_UNFREE=1 &&
use_nix &&
source /nix/store/lwgm5b8bqm2jg29ynh697pypxlqn5p5q-completion/bin/completion &&
source /nix/store/r50wqmkhlla0fxgjs4k262s2h6qd9m0i-completion/bin/completion
